@font-face {
  font-family: "BigDailyShort-LightItalic";
  src: url(../fonts/BigDailyShort-LightItalic.woff);
}

@font-face {
  font-family: "ClashDisplay-Medium";
  src: url(../fonts/ClashDisplay-Medium.woff);
}

@font-face {
  font-family: "Surt-Regular";
  src: url(../fonts/Surt-Regular.woff);
}