/*반응형 화면 크기*/
$mobile: 767px; //320부터
$tablet: 1023px; // 768부터
$desktop: 1440px; //1024부터
// $largeDesktop: 1440px; //1920


/*반응형, 브라우저 크기가 767px 이하일때*/
@mixin mobile{
  @media (max-width: $mobile){
    @content;
  }
}

/*반응형, 브라우저 크기가 768이상, 1023px 이하일때*/
@mixin tablet{
  @media (max-width: $tablet){
    @content;
  }
}

/*반응형, 브라우저 크기가 1024px 이상일때*/
@mixin desktop{
  @media (max-width: $desktop){
    @content;
  }
}

/*반응형, 브라우저 크기가 1440px 이상일때*/
// @mixin largeDesktop{
//   @media (max-width: $largeDesktop){
//     @content;
//   }
// }